<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <p>Day {pageNumber} Reflection</p>
    <p><a href = "https://replit.com/@tiberiusdinu95/Day78100Days#main.py">Also putting the Replit link here</a></p>
    <p>This day was interesting. I'm really happy with the Python progress ya boy is making! Peace out and <u><strong>Free Palestine</u></strong>!!!</p>    
</body>
</html>