<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_post">
        <p><input type="text" name="title">Title: </p>
        <p><input type="date" name="date">Date: </p>
        <p><input type="text" name="bodytext">Body Text: </p>
        <button type="submit">Add Post</button>
    </form>
    <form action="/logout">
        <button type="submit">Log Out</button>
    </form>
</body>
</html>